//dimensions
$gridPadding: 20px;
$wrapperPadding: 40px;
$maxContentWidth: 1360px;
$minContentWidth: 1280px;
$bodyMinWidth: 1024px;
$bodyMinWidthMobile: 640px;

//colors
$linkColor: #008cde;
$linkHoverBorderColor: #cce8f8;
$textColor: #000;
$complementaryColor: #a6a6a6;
$selection_bg: #008cdb;
$brandBackgroundColor: #daf4f9;
$primaryBg: #f5f5f5;
$headingColor: #004996;
$errorColor: #ff0048;
$successBgColor: #c0f9cc;

//button colors
$btnNormal: $linkColor;
$btnFocused: #0078bf;
$btnActive: #004e99;
$btnInvertedNormal: #c6c6c6;
$btnInvertedFocused: $linkColor;
$btnInvertedActive: #f5f5f5;

//fonts
$copy_font_size: 16px;
$copy_font: 'Open Sans', Arial, Helvetica, sans-serif;
$copy_line_height: 1.75;

//misc
$transition_speed: .3s;
$btnBorderRadius: 6px;
$imagesPath: '../images'